.navbar-cont{
    background-color: blue;
    height: 100px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    color: white;
}


.links ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 5px;
}
.links ul Link{
    text-decoration: none;
}
.links ul li{
    text-decoration: none !important;
    list-style: none;
    color: white;
}
 .links ul li:hover{
    color: aqua;
    border-radius: 8px;
    text-transform: none;
}

.active {
    background: black;
    padding: 5px;
    border-radius: 8px;
    text-decoration: overline;
  }

  .menu{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.25rem;
    height: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu span{
    height: 0.4rem;
    width: 100%;
    background: #fff;
    border-radius: 0.2rem;
  }

  @media screen and (max-width:480px) {
    .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .navbar-cont{
        margin-bottom: 3rem;
    }

    .links ul{
        flex-direction: column;
        display: none;
        
    }
    .links ul.open{
        display: flex;
    }
    .links ul li{
        color: black;
        background: blue;
    }

  }